:root{
--primary-brand-color:#4D5AE5;
--dark-brand-color:#2E2F42;
--body-text-color:#434455;
--background-body-color:#E5E5E5;
--header-background-color:#FFFFFF;
--light-text-color:#FFFFFF;
--light-section-color:#F4F4FD; 
--logo-footer-color:#F4F4FD;
--active-color:#404BBF;
--buttons-boarders-color:#E7E9FC;
}

ul{
    list-style: none;
}

a{
text-decoration: none;
font-style: normal;
color: currentColor;
}

body{
font-family:"Roboto", sans-serif;
font-weight: 400;
font-size:16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--body-text-color);
background-color: var(--background-body-color);
}

.header-style{
    background-color:var(--header-background-color);
}

.logo-web{
color:var(--primary-brand-color);
font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio{
    color: var(--dark-brand-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.logo-footer
{
    color: var(--logo-footer-color);
}
.nav-links{
    font-weight: 500;
    color: var(--dark-brand-color);
}
.nav-links:hover, .nav-links:focus{
    color:var(--active-color);
}

.header-contacts:hover, .header-contacts:focus{
    color:var(--active-color);
}
.hero-section{
    background-color: var(--dark-brand-color);
}

.hero-title{
    font-weight: 700;
    color: var(--light-text-color);
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
}

.hero-button{
    background-color: var(--primary-brand-color);
    letter-spacing: 0.04;
    font-weight: 500;
    color:var(--light-text-color);
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus{
background-color: var(--active-color);
}

.card-titles{
color:var(--dark-brand-color);
font-weight: 500;
font-size:20px;
line-height: 1.2;
}

.section-titles{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

.card-titles.team{
    text-align: center;
}

.card-description{
    text-align: center;
}

.section-team{
    background-color: var(--light-section-color);
}

.footer{
    background-color: var(--dark-brand-color);
    color: var(--light-section-color);
}

.section-buttons{
    color:var(--primary-brand-color);
    background-color: var(--light-section-color);
    border: 1px solid var(--buttons-boarders-color);
    
}